.breadcrumb {
    display: none;
}
.breadcrumb * {
    text-shadow: 0 0 10px hsl(var(--foreground)/20%);
    color: hsl(var(--background));
}
@media screen and (min-width:991px) {
    .breadcrumb {
        display: block;
    }
    .breadcrumb * {
        text-shadow: initial;
    }
}
