.searchBar {
    margin-top: 3rem;
    position: relative;
    z-index: 9999;
}
.searchBar_content {
    position: relative;
    margin-bottom: 3rem;
}
.searchBar_input {
    background-color: hsl(var(--background));
    border: 0;
    outline: 0;
    border-radius: var(--radius);
    min-height: 45px;
    padding: 10px 16px;
    line-height: 1;
    font-size: 1.3rem;
    color: hsl(var(--muted));
    box-shadow: var(--shadow);
    width: 100%;
}
.searchBar_input::placeholder {
    color: hsl(var(--muted));
}
.searchBar_submit {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.searchBar_submit svg {
    filter: drop-shadow(0 3px 2px rgba(0,0,0,0.5));
}
.searchBar_submit button {
    width: 27px;
    height: 27px;
}
.searchBar_float {
    position: absolute;
    top: 100%;
    left: 0;
}
.searchBar_results {
    
    width: 100%;
    background-color: hsl(var(--background));
    padding: 10px;
    margin-top: 10px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}
.searchBar_content_icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: hsl(var(--primary) / 40%);
    border: 0;
    outline: 0;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}