.header {
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    backdrop-filter: blur(17px) opacity(1);
    background-color: hsl(var(--primary));
}
.headerPictos {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}
@media screen and (max-width:767px) {
    .headerLogo img {
        width: 100px;
    }
}