h1, .like-h1 {
    font-size: 3rem;
    font-weight: 700;
    color: hsl(var(--background));
    margin-bottom: 10px;
    line-height: 1;
}
h2, .like-h2 {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var(--poppins);
    line-height: 120%;
    color: hsl(var(--primary));
    margin: 20px 0;
}
@media screen and (min-width:991px) {
    h2, .like-h2 { 
        font-size: 4rem;
    }
    h1, .like-h1 { 
        font-size: 5rem;
        margin: 0;
    }
}
.infinite-scroll-component  {
    overflow: hidden!important;
}
.list-style-none {
    list-style: none;
}
.gap-10 {
    gap: 10px;
}
.color-text {
    color: hsl(var(--background));/* TODO: Ajout du couleur en theme dark */
}
.overflow-hidden {
    overflow: hidden;
}

fieldset {
    border: 0;
    border-bottom: 1px solid hsl(var(--border));
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}
legend {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: hsl(var(--foreground)/50%);
}

main {
    margin-bottom: 10rem;
}

input:not([type=radio]):not([type=checkbox]) {
    background-color: hsl(var(--background));
    min-height: 45px;
    padding: 10px 16px;
    line-height: 1;
    font-size: 1.3rem;
    color: hsl(var(--foreground));
    width: 100%;
}
input::placeholder {
    color: hsl(var(--foreground)/ 50%)!important;
}
label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
    background: hsl(var(--secondary));
    display: inline-block;
    position: relative;
    top: 20px;
    border-radius: 50px;
    padding: 2px 10px;
    left: 13px;
}
.input-group {
    margin: 5px 0 25px 0;
}
@media (max-width:767px) {
    .login-layout {
        background-image: url(/images/headerpage/login.jpg);
        background-size:cover;
        background-repeat:no-repeat;
    }
    .login-layout::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 642px;
        background: linear-gradient(180deg, rgba(12,9,100,0) 0%, rgba(12,9,100,1) 70%);
    }
    .login-layout::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(180deg, #0c0964 , rgba(23, 20, 119, 0) );
    }
    .login-layout > div {
        position: relative;
        z-index: 999;
    }
}
/* .login-layout {
    margin-top: 10rem;
} */
.aspect-5-4 {
    aspect-ratio: 5 / 4;
}

.aspect-1-1 {
    aspect-ratio: 1 / 1;
}

figure {
    margin: 25px auto 15px auto;
    max-width: 300px;
}

.slick-track {
    display: flex;
}

.user-account {
    background-color: hsl(var(--secondary));
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
}
.menu-item:hover {
    background: hsl(var(--foreground) / 5%)
}
.menu-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: hsl(var(--foreground) / 10%);
    box-shadow: var(--shadow);
}
.user-account-container {
    padding: 10px 5px!important;
}
@media screen and (max-width:767px) {
    .user-account-container {
        width: 100vw;
    }
}
body[data-scroll-locked]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    transition: .5s;
}

.scrolled-down {
    backdrop-filter: blur(17px) opacity(1) brightness(0.8);
}

b, strong {
    font-weight: 700!important;
}

.z-99999 {
    z-index: 999999;
}
.anchor {
    margin-top:8rem;
}

.products-layout {
    margin-top: 72px;
    padding-top: 1rem;
    position: relative;
}
@media screen and (max-width:768px) {
    .tunnel-commande-layout {
        margin-top: 10px;
        padding-top: 0;
    }
    .products-layout {
        padding-top:2rem;
    }
}
.products-layout::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
    background-image: linear-gradient(0deg, hsl(var(--primary)/0%) 0%, hsl(var(--primary)) 100%);
    z-index: -1;
}
.tunnel-commande-layout::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 280px;
    background-image: linear-gradient(0deg, hsl(var(--primary)/0%) 0%, hsl(var(--primary)) 100%);
    z-index: -1;
    top: 84px;
}
@media screen and (max-width:768px) {
    .tunnel-commande-layout {
        position:relative;
    }
    .tunnel-commande-layout::before {
        top: -28px;
    }
}
@media screen and (min-width:768px) {
    .products-layout {
        margin-top: 84px;
    }
}
.home-layout > header:first-child{
    background: none;
    backdrop-filter: none;
}