.navigatorDesktop {
    display: none;
    align-items: center;
    gap: 20px;
    list-style: none;
}
@media screen and (min-width:991px) {
    .navigatorDesktop {
        display: flex;
    }
}
.navLink {
    color: hsl(var(--background));
    font-weight: 500;
    font-size: 1.6rem;
}